/* in lazycontainers.css */
.container {
  opacity: 0;
  transition: opacity 0.6s ease;
  /* remove or comment out transform */
  /* transform: translateY(30px); */
}
.container.visible {
  opacity: 1;
  /* transform: none; */
}
